# PYTHON IN BUILT FUNCTIONS

# W3 school Link

https://www.w3schools.com/python/python_ref_functions.asp

## abs()

Return the absoulte value of a number

In [2]:
abs(-7.25)

7.25

## all()

Returns true if all items of an iterable object is True otherwise it returns False.

If the iterable object is empty it also returns True.

Iterable object: list.tuple,dictionary

In [3]:
mylist=[0,1,1]  # 1---> true, 0----> false
all(mylist)

False

In [5]:
mylist=[0,0,0]
all(mylist)

False

## any()

Returns True if any item of an iterable object is True,Otherwise it returns False

If the iterable object is empty it also returns False.

In [6]:
mylist=[0,1,1]
any(mylist)

True

## callable ()

Returns True if the specified object is callable, otherwise returns false.

In [7]:
# check if a function is callable
def x():
    a=5
print(callable(x))

True

## chr()

Returns the charecter from a specified unicode.

In [8]:
## Get the charecter that represents the unicode 97
x=chr(97)

In [9]:
x

'a'

## complex()

Returns a complex number

In [10]:
## convert the number 3 and imaginary number 5 into a complex number

x=complex(3,5)
x

(3+5j)

## dict()

Returns a dictionary(Array).

Creates a dictionary

In [11]:
x =dict(name= "john", age=36, country="Norway")
x

{'name': 'john', 'age': 36, 'country': 'Norway'}

## dir()

Returns a list of all properties and methods of the specified object, without the values.

In [15]:
class Person:
    def __init__(self):
        self.name = "John"
        self.age = 36
        self.country = "Norway"

person = Person()
print(dir(person))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'age', 'country', 'name']

## divmod()

Returns quotient and the remainder when argument1 is divided by argument2.

In [17]:
## Dispaly the quotient and the remainder of 5 divided by 2
divmod(5,2)

(2, 1)


## enumerate()

Takes a collection as an argument and return it as an enumerate object.

The enumerte() function adds a counter as the key of the enumerate object.

In [20]:
x=('apple','banana','cherry')
   
y = enumerate(x)

In [21]:
y

## filter(function, iterable)

Use a filter function to exclude items in an iterable object

In [23]:
## Filter the array and return a new array with only the values equal to or above 18
ages =[5,12,17,18,24,32]

def myFunc(x):
    if x<18:
        return False
    else:
        return True
    
adults = filter(myFunc,ages)

for i in adults:
    print(i)

18
24
32

## float()

Returns a floating point number.

In [26]:
## Convert the number 3 into a floating point number.

x= float(3)
x

3.0

## format()

Format a specified value.


Parameter	Description
value	A value of any format
format	The format you want to format the value into.
Legal values:
'<' - Left aligns the result (within the available space)
'>' - Right aligns the result (within the available space)
'^' - Center aligns the result (within the available space)
'=' - Places the sign to the left most position
'+' - Use a plus sign to indicate if the result is positive or negative
'-' - Use a minus sign for negative values only
' ' - Use a leading space for positive numbers
',' - Use a comma as a thousand separator
'_' - Use a underscore as a thousand separator
'b' - Binary format
'c' - Converts the value into the corresponding unicode character
'd' - Decimal format
'e' - Scientific format, with a lower case e
'E' - Scientific format, with an upper case E
'f' - Fix point number format
'F' - Fix point number format, upper case
'g' - General format
'G' - General format (using a upper case E for scientific notations)
'o' - Octal format
'x' - Hex format, lower case
'X' - Hex format, upper case
'n' - Number format
'%' - Percentage format
More Examples
Example
Format 255 into a hexadecimal value:

x = format(255, 'x')

In [27]:
# Format the number 0.5 into a percentage value
x= format(0.5, '%')
x

'50.000000%'

## globals()

Display the current global symbol tables as a dictionary.

In [32]:
## Display the global symbol table

globals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  '## abs()\n\nReturn the absoulte value of a number',
  'abs(-7.25)',
  'mylist=[0,1,1]\nall(mylist)',
  'mylist=[1,1,1]\nall(mylist)',
  'mylist=[0,0,0]\nall(mylist)',
  'mylist=[0,1,1]\nany(mylist)',
  '# check if a function is callable\ndef x():\n    a=5\nprint(callable(x))',
  '## Get the charecter that represents the unicode 97\nx=chr(97)',
  'x',
  '## convert the number 3 and imaginary number 5 into a complex number\n\nx=complex(3,5)\nx',
  'x =dict(name= "john", age=36, country="Norway")\nx',
  '## dir()\n\nReturns a list of all properties and methods of the specified object, without the values.',
  'Class Person:\n    name ="John"\n    age =36\n    country =norway\n    \nprint(dir(person))',
  'Class Person{\n    name ="John"\n    age =36\n    country =norway\n}\nprint(dir(person))',
  'class Person:\n    def __init__(self):\n        self.name = "John"\n        self.age = 36\n        self.country = "Norway"\n\nperson = Person()\nprint(dir(person))',
  '## divmod()\n\nReturns quotient and the remainder when argument1 is divided by argument2.',
  '## Dispaly the quotient and the remainder of 5 divided by 2\ndivmod(5,2)',
  '## enumareate()\n\nTakes a collection as an argument and return it as an enumerate object.\n\nThe enumerte() function adds a counter as the key of the enumerate object.',
  "x=('apple,'banana','cherry')\n   \ny = enumerate(x)",
  "x=('apple','banana','cherry')\n   \ny = enumerate(x)",
  'y',
  '## filter(function, iterable)\n\nUse a filter function to exclude items in an iterable object',
  '## Filter the array and return a new array with only the values equal to or above 18\nages =[5,12,17,18,24,32]\n\ndef myFunc(x):\n    if x<18:\n        return False\n    else:\n        return True\n    \nadults = filter(myFunc,ages)\n\nfor i in adults:\n    print(i)',
  '## float()\n\nReturns a floating point number.',
  '## Convert the number 3 into a floating point number.\n\nx= float(3)',
  '## Convert the number 3 into a floating point number.\n\nx= float(3)\nx',
  "# Format the number 0.5 into a percentage value\nx= format(0.5, '%')\nx",
  '## globals()\n\nDisplay the current global symbol tables as a dictionary.',
  '## Display the global symbol table\n\nx= globals()\nx',
  '## Display the global symbol table\n\nglobals()',
  '## Display the global symbol table\n\nprint(globals())',
  '## Display the global symbol table\n\nglobals()'],
 '_oh': {2: 7.25,
  3: False,
  4: True,
  5: False,
  6: True,
  9: 'a',
  10: (3+5j),
  11: {'name': 'john', 'age': 36, 'country': 'Norway'},
  17: (2, 1),
  21: <enumerate at 0x2380cd157c0>,
  26: 3.0,
  27: '50.000000%',
  29: {...},
  30: {...}},
 '_dh': ['C:\\Users\\13612\\0001_Problem_Solving\\02_Python_W3_School'],
 'In': ['',
  '## abs()\n\nReturn the absoulte value of a number',
  'abs(-7.25)',
  'mylist=[0,1,1]\nall(mylist)',
  'mylist=[1,1,1]\nall(mylist)',
  'mylist=[0,0,0]\nall(mylist)',
  'mylist=[0,1,1]\nany(mylist)',
  '# check if a function is callable\ndef x():\n    a=5\nprint(callable(x))',
  '## Get the charecter that represents the unicode 97\nx=chr(97)',
  'x',
  '## convert the number 3 and imaginary number 5 into a complex number\n\nx=complex(3,5)\nx',
  'x =dict(name= "john", age=36, country="Norway")\nx',
  '## dir()\n\nReturns a list of all properties and methods of the specified object, without the values.',
  'Class Person:\n    name ="John"\n    age =36\n    country =norway\n    \nprint(dir(person))',
  'Class Person{\n    name ="John"\n    age =36\n    country =norway\n}\nprint(dir(person))',
  'class Person:\n    def __init__(self):\n        self.name = "John"\n        self.age = 36\n        self.country = "Norway"\n\nperson = Person()\nprint(dir(person))',
  '## divmod()\n\nReturns quotient and the remainder when argument1 is divided by argument2.',
  '## Dispaly the quotient and the remainder of 5 divided by 2\ndivmod(5,2)',
  '## enumareate()\n\nTakes a collection as an argument and return it as an enumerate object.\n\nThe enumerte() function adds a counter as the key of the enumerate object.',
  "x=('apple,'banana','cherry')\n   \ny = enumerate(x)",
  "x=('apple','banana','cherry')\n   \ny = enumerate(x)",
  'y',
  '## filter(function, iterable)\n\nUse a filter function to exclude items in an iterable object',
  '## Filter the array and return a new array with only the values equal to or above 18\nages =[5,12,17,18,24,32]\n\ndef myFunc(x):\n    if x<18:\n        return False\n    else:\n        return True\n    \nadults = filter(myFunc,ages)\n\nfor i in adults:\n    print(i)',
  '## float()\n\nReturns a floating point number.',
  '## Convert the number 3 into a floating point number.\n\nx= float(3)',
  '## Convert the number 3 into a floating point number.\n\nx= float(3)\nx',
  "# Format the number 0.5 into a percentage value\nx= format(0.5, '%')\nx",
  '## globals()\n\nDisplay the current global symbol tables as a dictionary.',
  '## Display the global symbol table\n\nx= globals()\nx',
  '## Display the global symbol table\n\nglobals()',
  '## Display the global symbol table\n\nprint(globals())',
  '## Display the global symbol table\n\nglobals()'],
 'Out': {2: 7.25,
  3: False,
  4: True,
  5: False,
  6: True,
  9: 'a',
  10: (3+5j),
  11: {'name': 'john', 'age': 36, 'country': 'Norway'},
  17: (2, 1),
  21: <enumerate at 0x2380cd157c0>,
  26: 3.0,
  27: '50.000000%',
  29: {...},
  30: {...}},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x000002380C93E4C0>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x2380c8558b0>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x2380c8558b0>,
 '_': {...},
 '__': {...},
 '___': '50.000000%',
 '_i': '## Display the global symbol table\n\nprint(globals())',
 '_ii': '## Display the global symbol table\n\nglobals()',
 '_iii': '## Display the global symbol table\n\nx= globals()\nx',
 '_i1': '## abs()\n\nReturn the absoulte value of a number',
 '_i2': 'abs(-7.25)',
 '_2': 7.25,
 '_i3': 'mylist=[0,1,1]\nall(mylist)',
 'mylist': [0, 1, 1],
 '_3': False,
 '_i4': 'mylist=[1,1,1]\nall(mylist)',
 '_4': True,
 '_i5': 'mylist=[0,0,0]\nall(mylist)',
 '_5': False,
 '_i6': 'mylist=[0,1,1]\nany(mylist)',
 '_6': True,
 '_i7': '# check if a function is callable\ndef x():\n    a=5\nprint(callable(x))',
 'x': {...},
 '_i8': '## Get the charecter that represents the unicode 97\nx=chr(97)',
 '_i9': 'x',
 '_9': 'a',
 '_i10': '## convert the number 3 and imaginary number 5 into a complex number\n\nx=complex(3,5)\nx',
 '_10': (3+5j),
 '_i11': 'x =dict(name= "john", age=36, country="Norway")\nx',
 '_11': {'name': 'john', 'age': 36, 'country': 'Norway'},
 '_i12': '## dir()\n\nReturns a list of all properties and methods of the specified object, without the values.',
 '_i13': 'Class Person:\n    name ="John"\n    age =36\n    country =norway\n    \nprint(dir(person))',
 '_i14': 'Class Person{\n    name ="John"\n    age =36\n    country =norway\n}\nprint(dir(person))',
 '_i15': 'class Person:\n    def __init__(self):\n        self.name = "John"\n        self.age = 36\n        self.country = "Norway"\n\nperson = Person()\nprint(dir(person))',
 'Person': __main__.Person,
 'person': <__main__.Person at 0x2380ccd7ac0>,
 '_i16': '## divmod()\n\nReturns quotient and the remainder when argument1 is divided by argument2.',
 '_i17': '## Dispaly the quotient and the remainder of 5 divided by 2\ndivmod(5,2)',
 '_17': (2, 1),
 '_i18': '## enumareate()\n\nTakes a collection as an argument and return it as an enumerate object.\n\nThe enumerte() function adds a counter as the key of the enumerate object.',
 '_i19': "x=('apple,'banana','cherry')\n   \ny = enumerate(x)",
 '_i20': "x=('apple','banana','cherry')\n   \ny = enumerate(x)",
 'y': <enumerate at 0x2380cd157c0>,
 '_i21': 'y',
 '_21': <enumerate at 0x2380cd157c0>,
 '_i22': '## filter(function, iterable)\n\nUse a filter function to exclude items in an iterable object',
 '_i23': '## Filter the array and return a new array with only the values equal to or above 18\nages =[5,12,17,18,24,32]\n\ndef myFunc(x):\n    if x<18:\n        return False\n    else:\n        return True\n    \nadults = filter(myFunc,ages)\n\nfor i in adults:\n    print(i)',
 'ages': [5, 12, 17, 18, 24, 32],
 'myFunc': <function __main__.myFunc(x)>,
 'adults': <filter at 0x2380cd35c10>,
 'i': 32,
 '_i24': '## float()\n\nReturns a floating point number.',
 '_i25': '## Convert the number 3 into a floating point number.\n\nx= float(3)',
 '_i26': '## Convert the number 3 into a floating point number.\n\nx= float(3)\nx',
 '_26': 3.0,
 '_i27': "# Format the number 0.5 into a percentage value\nx= format(0.5, '%')\nx",
 '_27': '50.000000%',
 '_i28': '## globals()\n\nDisplay the current global symbol tables as a dictionary.',
 '_i29': '## Display the global symbol table\n\nx= globals()\nx',
 '_29': {...},
 '_i30': '## Display the global symbol table\n\nglobals()',
 '_30': {...},
 '_i31': '## Display the global symbol table\n\nprint(globals())',
 '_i32': '## Display the global symbol table\n\nglobals()'}

## hashattr(obj, attr)

Returns true if a specified object has the specified attribute.

In [35]:
class Person:
    def __init__(self):
        self.name = "John"
        self.age = 36
        self.country = "Norway"

person = Person()
x=hasattr(person,'age')

x

True

## hash()

Returns the hash value of a specified object.

## hex()

Convert a number into hexadecimal value.

In [36]:
## Convert 255 into hexadecimal value

hex(255)

'0xff'

## id()

returns the id of an object.

In [37]:
x =('apple','banana','cherry')

y= id(x)

In [38]:
y

2439751387264

## input()

Allowing user input.

In [39]:
print('Enter your name')

x=input()

print('Hello', x)

Enter your name
Marufa
Hello Marufa

## isinstance(object,type)

The isinstance() function retrurn True if the specified object is of the specified type, otherwise False.

If the type parameter is a tuple, this function will return True, if the object is one of the type in the tuple.

In [40]:
## check if the number 5 is an integer

x = isinstance(5,int)
x

True

## iter(obj, sentinel)

The iter function returns an iterator object.

In [41]:
x =iter(['apple','banana','cherry'])

print(next(x))
print(next(x))
print(next(x))

apple
banana
cherry

## len()

Returns the length of an object.

In [42]:
mylist =['apple','banana','cherry']

x= len(mylist)

x

3

## list()

returns a list

In [43]:
x= list(('apple','bananna','cherry'))
x

['apple', 'bananna', 'cherry']

## map()

The map() function executes a specified function for each item in an iterable. The item is sent to the function as a parameter.


Syntax

map(function, iterables)
Parameter Values
Parameter	Description
function	Required. The function to execute for each item
iterable	Required. A sequence, collection or an iterator object. You can send as many iterables as you like, just make sure the function has one parameter for each iterable.

In [50]:
## Calculate the length of each word in the tuple

def myFunc(n):
    return len(n)
    
x=map(myFunc,('apple','banana','cherry'))

for i in x:
    print(i)

5
6
6

In [53]:
## make new fruits by sending to iterable objects into the functions
def myFunc(a,b):
    return a+b

x= map(myFunc,('apple','banana','cherry'),('orange','lemon','pineapple'))

## convert the map into list for readibility

print(list(x))

['appleorange', 'bananalemon', 'cherrypineapple']

## max()

returns the largest item of the iterable.

In [56]:
x= max(5,10)
x

10

## min()

returns the smallest item of the iterable.

In [58]:
x =min(5,10)
x

5

## next()

Returns the next item in an iterable.

In [61]:
## create an iterator and print the items one by one

x =iter(['apple','banana','cherry'])
print(next(x))
print(next(x))
print(next(x))

apple
banana
cherry

## object()

Returns a new object.

you can not add method or properties to this new object.

The object is the base for all classes.

In [62]:
## Create an empty object
x=object()

In [63]:
x

## oct()

convert a number into an octal

In [64]:
## convert the number 12 into an octal value

x= oct(12)

In [65]:
x

'0o14'

## open()

open a file and return a file object.

In [68]:
f = open("demofile.txt",'r')
print(f.read())

Hello world

## ord()

Convert to an integer ther reperesent the unicode of the specified charecter.

In [69]:
x= ord("h")
x

104

## pow()

Returns the value of x to the power of y.

In [70]:
x =pow(4,3)
x

64

## range()

Returns a sequence of numbers starting from 0 and increment by 1(y default)

In [71]:
x = range(6)
for i in x:
    print(i)

0
1
2
3
4
5

## reveresed()

Returns a reversed iterator object.

In [76]:
## Reverse the sequence of a list and print each item.
x = ["a","b","c","d"]
rev_x = reversed(x)

print(rev_x)
for i in rev_x:
    print(i)

<list_reverseiterator object at 0x000002380ED34E50>
d
c
b
a

## round()

Round a number

In [77]:
## Round a number to only two decimals

x= round(5.6093838,2)
x

5.61

## set()

Returns a new set object.

In [78]:
x = set(('apple','apple','banana','cherry'))
x

{'apple', 'banana', 'cherry'}

## setattr()

Sets an attribute of an object.

In [80]:
## Change the value of the age property of the person object

class Person:
    def __init__(self):
        self.name = "John"
        self.age = 36
        self.country = "Norway"

person = Person()

setattr(person,'age',40)
print(person.age)

40

## slice()

Returns a slice object.

In [82]:
a = ('a','b','c','d','e','f','g')
x= slice(2,4,1)
print(a[x])

('c', 'd')

## sorted()

Returns a sorted list.

In [83]:
## sort a tuple
x= ('b','d','a','c')
y=sorted(x)
y

['a', 'b', 'c', 'd']

## str()

Return a string object.

In [84]:
## convert the number 3.5 into  a string
x =str(3.5)
x

'3.5'

## sum()

Sum the items of an iterator.

In [85]:
a=(1,2,3,4,5,6)
x=sum(a)
x

21

## tuple()

Returns a tuple.

In [86]:
x=[1,2,3,4,5,6]
y=tuple(x)
y

(1, 2, 3, 4, 5, 6)

## type()

Returns the type of an object

In [88]:
a=('apple','banana','cherry')
b='Hello'
c=1

print(type(a))
print(type(b))
print(type(c))

<class 'tuple'>
<class 'str'>
<class 'int'>

## vars()

Returns the __dict__ property of an object.

In [89]:
## Change the value of the age property of the person object

class Person:
    def __init__(self):
        self.name = "John"
        self.age = 36
        self.country = "Norway"

person = Person()

x=vars(person)
x

{'name': 'John', 'age': 36, 'country': 'Norway'}

## zip()

Returns an iterator from two or more iterator.

In [91]:
## Join two tiples together

a=('John','charles','mike')
b=('jhenny','sumi','Akhi')

x=zip(a,b)
for i in x:
    print(i)

('John', 'jhenny')
('charles', 'sumi')
('mike', 'Akhi')

In [92]:
## if one tuples contain more items than these items are ignored.

a=('John','charles','mike')
b=('jhenny','sumi','Akhi','vicky')
x=zip(a,b)
for i in x:
    print(i)

('John', 'jhenny')
('charles', 'sumi')
('mike', 'Akhi')