# Python in-built String methods

## W3 School link

https://www.w3schools.com/python/python_ref_string.asp

## Capitalize()

Convert the first charecter to upper case

In [3]:
## Uppercase the first letter in this sentence

txt ="hello,and welcome to my world"
x= txt.capitalize()
print(x)

Hello, and welcome to my world

## casefold()

Convert string into lower case

In [5]:
## Make the string to lower case
txt ="hello,And Welcome To My World"
x= txt.casefold()
x

'hello,and welcome to my world'

## Center(length, charecter)

Returns a centered string

In [7]:
## Print the word banana taking up the space of 20 charecters, with 'banana' in the middle

txt = 'banana'
x=txt.center(20)
x

'       banana       '

In [9]:
##using the letter 'o' as the padding charecter
txt = 'banana'
x=txt.center(20,'O')
x

'OOOOOOObananaOOOOOOO'

## count(value, start, end)

Returns the number of times a specified value occurs in a string.

In [10]:
## Return the number of times the value 'apple' appears in the string

txt='I love apple, apple are my favorite fruit'

x= txt.count('apple')
x

2

In [11]:
## search from position 10 to 24
txt='I love apple, apple are my favorite fruit'
x= txt.count('apple',10,24)
x

1

## encode()

Returns a encoded version of the string

In [14]:
## UTF-8 encode the string

txt = 'My name is St√•le'
x= txt.encode()
x

b'My name is St\xc3\xa5le'

## endswith(value, start, end)

Returns True if the string end with the specified value.

In [16]:
## check if the string end with a (.)

txt = 'Hello, welcome to my world.'
x=txt.endswith('.')
x

True

In [19]:
## check if position 5 to 11 ends with the phrase "my world."
txt = 'Hello, welcome to my world.'
x=txt.endswith('my world.',5,11)
x

False

## expandtabs()

Sets the tab size of the specified number of whitespaces.

In [25]:
## Set the tabsize to two white space

txt ='H\te\tl\tl\to'
x = txt.expandtabs(2)
print(x)

H e l l o

In [27]:
## See the result using diffrent tab sizes
txt ='H\te\tl\tl\to'
print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o

## find(value,start,end)

Search the string for a specified value and returns the position of where it was found.

The find() method finds the first occurance of the specified value.

Returns -1 if the value is not found.

The find () method ius almost the same as the index () method.The only diffrence is that the index() method raises an exception 

if the value is not found.

In [28]:
## Where in the text is the word 'welcome'?txt = 'Hello, welcome to my world.'
txt = 'Hello, welcome to my world.'

x = txt.find('welcome')
x

7

In [29]:
## Where in the text is the first occurance of the letter 'e'

txt = 'Hello, welcome to my world.'
x=txt.find('e')
x

1

In [30]:
## Where in the text is the first occurance of the letter 'e' when you only search between position 5 and 10.

txt = 'Hello, welcome to my world.'
x=txt.find('e',5,10)
x

8

In [31]:
## If the value is not found,the find method returns -1, but the index() method will raise an exeption.
txt = 'Hello, welcome to my world.'
print(txt.find('q'))
print(txt.index('q'))

-1

ValueError: substring not found

## format(value1, value2....)

The format() method formats the sprcified values and insert them inside the string's placeholder.

The placeholder is defined using curly braces.

The format() method returns the formatted string.

In [32]:
## using diffrent placeholder values
#named indexes
txt1 ="My name is {fname}, I am {age}".format(fname='Sumi',age=35)
# numbered indexes
txt2 ="My name is {0}, I am {1}".format('Sumi',35)
#empty indexes
txt3 ="My name is {}, I am {}".format('Sumi',35)

print(txt1)
print(txt2)
print(txt3)

My name is Sumi, I am 35
My name is Sumi, I am 35
My name is Sumi, I am 35

## index(value.start,end)

Find the first occurance of the specified value.

In [34]:
## Where in the text is the first occurance of the letter 'e' when you only search between position 5 and 10.

txt = 'Hello, welcome to my world.'
x=txt.index('e',5,10)
x

8

## isalnum()

Returns True if all the charecters are alphanumeric , meaning alphabet letter(a-z) and numbers(0-9)

In [35]:
# check if all the charecters in the text are alphanumeric
txt='company12'
x=txt.isalnum()
x

True

In [36]:
## beacuse of white space
txt='company 12'
x=txt.isalnum()
x

False

## isalpha()

Returns True if all charecters in the string are in the alphabet.

In [37]:
## check if all charecter in the text are letetrs

txt = 'CompanyX'
x=txt.isalpha()
x

True

In [38]:
txt = 'Company12'
x=txt.isalpha()
x

False

## isascii()

Returns true if all charecters in the string are ascii charecter(a-z) and numbers 0-9

In [39]:
txt = 'Company12'
x=txt.isascii()
x

True

## isdecimal()

Returns True if all charecters in the string are decimals.

In [40]:
## Check if all the charecters in a string are decimals (0-9)

txt ='1234'
x=txt.isdecimal()
x

True

In [41]:
## Check if all the characters in the unicode are decimals:

a = "\u0030" #unicode for 0
b = "\u0047" #unicode for G

print(a.isdecimal())
print(b.isdecimal())

True
False

## isdigit()

Return True if all charecters in the string are digits.

In [42]:
## Check if all the charecters in the text are digits:

txt = '50800'
x= txt.isdigit()
x

True

In [43]:
## Check if all the characters in the text are digits:

a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for ¬≤

print(a.isdigit())
print(b.isdigit())

True
True

## isidentifier()

Return True if the string is an identifier.

A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9) or underscore (_)

A valid identifier can not strat with a number or contain any spaces.

In [45]:
## Check if the string is a valid identifier

txt = 'demo'
x= txt.isidentifier()
x

True

In [46]:
##Check if the strings are valid identifiers:

a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

## islower()

Returns True if all charecters in the string are lower case, otherwise False.

Numbers, symbols and spaces are not checked, only alphabet charecter.

In [47]:
## Check if all the charecters in the text are in lower case
txt = " hello world"
x = txt.islower()
x

True

## isnumeric()

Returns True if all charecters in the string are numeric, otherswise false.

-1 and 1.5 are not considered as numeric values, beacuse all the charecters in the string must be numeric, and the - and the 

. are not.

In [48]:
txt ='1234'
x=txt.isnumeric()
x

True

In [50]:
txt1 ='-1'
x=txt1.isnumeric()
x

False

## isprontable() 

Return True if all charecters in the string are printable.

Non printable charecter: carriage return and line feed

In [51]:
## Check if all the charecters in the text are printable
txt ='Hello! \nAre you #1'
x=txt.isprintable()
x

False

## isspace()

Return true if all the charecters in the string are whitespaces.

In [52]:
## Check if all the charecters in the text are whitespaces

txt ='        '
x = txt.isspace()
x

True

In [53]:
txt ='   s     '
x = txt.isspace()
x

False

## istitle()

Returns True if the string follows the rules of a title.

Symbols and numbers are ignored.

In [55]:
## Check if each word start with an uppercase letter:

txt = 'Hello, And Welcome To My World'
x=txt.istitle()
x

True

In [57]:
## Check if each word start with an upper case letter:

a = "HELLO, AND WELCOME TO MY WORLD"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

## isupper()

Returns True if all charecters in the string are uppercase.

Numbers, symbols and spaces are not checked. Only alphabet charecters.

In [59]:
##Check if all the characters in the texts are in upper case:

a = "Hello World!"
b = "hello 123"
c = "MY NAME IS PETER"

print(a.isupper())
print(b.isupper())
print(c.isupper())

False
False
True

## join()


separator.join(string)

Convert the all elements of an iterable to a single string.

A string must be specified as the separeator.

When using a dictionary as an iterable, the returned values are keys, not the values.

In [1]:
## Join all items in a tuple into a string, using a hash charecter as separator.

myTuple = ('john','peter','vicky')

x ='#'.join(myTuple)
x

'john#peter#vicky'

In [3]:
## join all the items in a dictionary into a string using the word TEST as separator.

myDict = {"name":"John", "country": "Norway"}

x="TEST".join(myDict)
x

'nameTESTcountry'

## ljust(length, char)

This method will left align the string, using a specified charecter(space is default) as the fill charecter.

In [5]:
## Return a 20 charecters long , left justified version of the word 'banana':

txt = 'Banana'
x= txt.ljust(20)

print(x, "is my favourite fruits")

Banana               is my favourite fruits

In [7]:
## use the letter 'a' as the padding charecter.
txt = 'Banana'
x= txt.ljust(20,'a')

print(x, "is my favourite fruits")

Bananaaaaaaaaaaaaaaa is my favourite fruits

## lower()

Converts the string into lower case.

In [9]:
txt ='HELLO World'
x=txt.lower()
x

'hello world'

## lstrip(charectere)

Return a left trim version of the string.

Remove any leading charecters(space is the default leading charecter to remove)

In [10]:
## Remove spaces to the left of the string

txt = '       Banana       '
x = txt.lstrip()

print('of all fruits', x , 'is my favourite fruits')

of all fruits Banana        is my favourite fruits

In [11]:
## Remove the leading charecter
txt = ',,,,ssaaww.....banana'
x = txt.lstrip(',.asw')

x

'banana'

## maketrans()

Returns a transltion table to be used in translation

The maketrans() method returns a mapping table that can be used with the translate() method to replace specified charecters.

str.maketrans(x,y,z)

In [12]:
## Create a mapping table and use it in the translate() method to replace any "S" charecters with "P" charecter.
txt= "Hello Sam"
mytable = str.maketrans("S","P")
print(txt.translate(mytable))

Hello Pam

In [2]:
## Use a mappimg table to replace many charecters

txt = " Hi Sam"
x = "mSa"
y ="eJo"
mytable = str.maketrans(x,y)
print(txt.translate(mytable))

 Hi Joe

In [16]:
## The third parameter in the mapping table describes charecters that you want to remove from the string.

txt = " Good night Sam!"
x = "mSa"
y ="eJo"
z ="odnght"

maytable = str.maketrans(x,y,z)
print(txt.translate(mytable))

 Good night Pam!

## partition()

Return a tuple where the string is parted into three parts.

Searches for a specified string, and split the string into a tuple containing three elements.

The first element conatin the parts before the specified string.

The second element contain the specified string.

The third element contains the part after the string.

This method search for the first occurance of the specified string.

Search for the word "bananas" and return a tuple with three elements.

1. everything before the mathch
2.the "match'
3.everything after the match

In [17]:
txt = "I could eat bananas all day"
x=txt.partition('bananas')
x

('I could eat ', 'bananas', ' all day')

## replace(old_value, new_value, count)

Returns a string where a specified value is replaced with a specified value.

In [18]:
## Replace the word "bananas"

txt = "I like bananas"
x = txt.replace("bananas","apple")
x

'I like apple'

In [19]:
## replace all occurance of the word "one"

txt ="one one was a race horse, two two was one too."
x=txt.replace("one","three")
x

'three three was a race horse, two two was three too.'

In [20]:
## replace first 2 occurance of the word "one"

txt ="one one was a race horse, two two was one too."
x=txt.replace("one","three",2)
x

'three three was a race horse, two two was one too.'

## rfind(value, start, end)

Searches the string for a specified value and returns the last position of where it was found.

return -1 if the value is not found

almost same as the rindex method

In [21]:
## Where in the text is the last occurance of the letter "e", when you only search between position 5 and 10

txt = "Hello, welcome to my world"
x=txt.rfind("e",5,10)
x

8

In [22]:
## Where in the text is the last occurance of the letter "e"
txt = "Hello, welcome to my world"
x=txt.rfind("e")
x

13

## rindex(value, start, end)

Searches the string for a specified value and return the last position of where it was found.

raises an exception if the value is not found.

almost same as the rfind method

In [23]:
## Where in the text is the last occurance of the letter"e
txt = "Hello, welcome to my world"
x=txt.rindex("e")
x

13

In [24]:
## Where in the text is the last occurance of the letter "e", when you only search between position 5 and 10

txt = "Hello, welcome to my world"
x=txt.rindex("e",5,10)
x

8

## rjust()

Return a right justified version of the string.

In [25]:
## Return a 20 charecters long, right justified version of the word "banana": 
## Note: In the result there are actually 14 white spaces

txt = "banana"
x =txt.rjust(20)
x

'              banana'

In [26]:
## Use the letter "O" as the padding charecter
txt = "banana"
x =txt.rjust(20,'O')
x

'OOOOOOOOOOOOOObanana'

In [27]:
print(x)

OOOOOOOOOOOOOObanana

## rpartition()

Return a tuple where the string is parted into three parts.

Searches for a specified string, and split the string into a tuple containing three elements.

The first element conatin the parts before the specified string.

The second element contain the specified string.

The third element contains the part after the string.

This method search for the first occurance of the specified string.

## Search for the word "bananas" and return a tuple with three elements.

1. everything before the mathch
2.the "match'
3.everything after the match

In [32]:
txt = "I could eat bananas all day, bananas are my favourite fruit"
x=txt.rpartition('bananas')
x

('I could eat bananas all day, ', 'bananas', ' are my favourite fruit')

In [33]:
## if the specifie value is not found, the rpartition() method returns a tuple caontaining:
#1-an empty string,2-empty string, 3-whole string

txt = "I could eat bananas all day, bananas are my favourite fruit"
x=txt.rpartition('apple')
x

('', '', 'I could eat bananas all day, bananas are my favourite fruit')

## rsplit(separator, maxsplit)

Split the string at the specified separator, and returns a list.

if no "max" is specified , this method return the same as the split method

In [37]:
## Split the string into a list with maximum 2 items

txt = "apple, banana, cherry, mango"

x = txt.rsplit(",", 2)
x

['apple, banana', ' cherry', ' mango']

## rstrip(charecter)

Return a trim version of the string.

Removes any trailing charecters (charecter at the end a string) , space is the default trailing charecter to remove

In [38]:
## Remove any white space at the end of the string

txt = '      banana     '
x =txt.rstrip()

print('of all fruits',x, 'is my favourite')

of all fruits       banana is my favourite

In [39]:
##Remove the trailing characters if they are commas, periods, s, q, or w:

txt = "banana,,,,,ssqqqww....."

x = txt.rstrip(",.qsw")

print(x)

banana

## split()

The split() method splits a string into a list.

You can specify the separator, default separator is any whitespace.

 When maxsplit is specified, the list will contain the specified number of elements plus one.

In [40]:
## Split the string, using comma, followed by a space, as a separator:

txt = "hello, my name is Peter, I am 26 years old"

x = txt.split(", ")

print(x)

['hello', 'my name is Peter', 'I am 26 years old']

In [41]:
##Split the string into a list with max 2 items:

txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", 1)

print(x)

['apple', 'banana#cherry#orange']

In [42]:
##Split a string into a list where each word is a list item:

txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

## splitlines()

Split a string into a list

The splitting is done at line breaks.

In [43]:
## Split a string into a list where each line is a list item
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

In [44]:
## Split the string but keep the line braeks
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines(True)

print(x)

['Thank you for the music\n', 'Welcome to the jungle']

## startswith()

Return true if the string starts with a specified value.

In [46]:

##Check if the string starts with "Hello":

txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

True

In [47]:
## Check if position 7 to 20 starts with the characters "wel":

txt = "Hello, welcome to my world."

x = txt.startswith("wel", 7, 20)

print(x)

True

## strip()

The strip() method removes any leading, and trailing whitespaces.

Leading means at the beginning of the string, trailing means at the end.

You can specify which character(s) to remove, if not, any whitespaces will be removed.

In [48]:
##Remove spaces at the beginning and at the end of the string:

txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [49]:
##Remove the leading and trailing characters:

txt = ",,,,,rrttgg.....banana....rrr"

x = txt.strip(",.grt")

print(x)

banana

## swapcase()

The swapcase() method returns a string where all the upper case letters are lower case and vice versa.

In [50]:
##Make the lower case letters upper case and the upper case letters lower case:

txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

## title()

The title() method returns a string where the first character in every word is upper case. Like a header, or a title.

If the word contains a number or a symbol, the first letter after that will be converted to upper case.

In [51]:
## Make the first letter in each word upper case:

txt = "Welcome to my 2nd world"

x = txt.title()

print(x)

Welcome To My 2Nd World

## translate(table)

The translate() method returns a string where some specified characters are replaced with the character described in a dictionary, or in a mapping table.

Use the maketrans() method to create a mapping table.

If a character is not specified in the dictionary/table, the character will not be replaced.

If you use a dictionary, you must use ascii codes instead of characters.

In [52]:
## Replace any "S" characters with a "P" character:

#use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

In [53]:
##Use a mapping table to replace "S" with "P":

txt = "Hello Sam!"
mytable = str.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

In [54]:
##Use a mapping table to replace many characters:

txt = "Hi Sam!"
x = "mSa"
y = "eJo"
mytable = str.maketrans(x, y)
print(txt.translate(mytable))

Hi Joe!

In [55]:
##The third parameter in the mapping table describes characters that you want to remove from the string:

txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
mytable = str.maketrans(x, y, z)
print(txt.translate(mytable))

G i Joe!

In [56]:
##The same example as above, but using a dictionary instead of a mapping table:

txt = "Good night Sam!"
mydict = {109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}
print(txt.translate(mydict))

G i Joe!

## upper()

The upper() method returns a string where all characters are in upper case.

Symbols and Numbers are ignored.

In [57]:
##Upper case the string:

txt = "Hello my friends"

x = txt.upper()

print(x)

HELLO MY FRIENDS

## Zfill()

The zfill() method adds zeros (0) at the beginning of the string, until it reaches the specified length.

If the value of the len parameter is less than the length of the string, no filling is done.

In [58]:
##Fill the string with zeros until it is 10 characters long:

txt = "50"

x = txt.zfill(10)

print(x)

0000000050

In [59]:
##Fill the strings with zeros until they are 10 characters long:

a = "hello"
b = "welcome to the jungle"
c = "10.000"

print(a.zfill(10))
print(b.zfill(10))
print(c.zfill(10))

00000hello
welcome to the jungle
000010.000