Problems

Given the names and grades for each student in a class of  students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

Note: If there are multiple students with the second lowest grade, order their names alphabetically and print each name on a new line.

Example

The ordered list of scores is , so the second lowest score is . There are two students with that score: . Ordered alphabetically, the names are printed as:

alpha
beta
Input Format

The first line contains an integer, , the number of students.
The  subsequent lines describe each student over  lines.
- The first line contains a student's name.
- The second line contains their grade.

Constraints

There will always be one or more students having the second lowest grade.
Output Format

Print the name(s) of any student(s) having the second lowest grade in. If there are multiple students, order their names alphabetically and print each one on a new line.

Sample Input 0

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
Sample Output 0

Berry
Harry
Explanation 0

There are  students in this class whose names and grades are assembled to build the following list:

python students = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]

The lowest grade of  belongs to Tina. The second lowest grade of  belongs to both Harry and Berry, so we order their names alphabetically and print each name on a new line.

#### strip()

Definition and Usage

The strip() method removes any leading, and trailing whitespaces.

Leading means at the beginning of the string, trailing means at the end.

You can specify which character(s) to remove, if not, any whitespaces will be removed.

string.strip(characters)

In [ ]:
# Read the number of students
n = int(input())

# Initialize an empty list to store student names and grades
students = []

# Read student names and grades, adding them to the list
for _ in range(n):
    name = input().strip()  # Read student name
    grade = float(input().strip())  # Read student grade
    students.append([name, grade])

# Extract all grades and find the unique set of grades
grades = {student[1] for student in students}

# Convert the set to a sorted list
sorted_grades = sorted(grades)

# Find the second lowest grade
second_lowest_grade = sorted_grades[1]

# Find all students with the second lowest grade
second_lowest_students = [student[0] for student in students if student[1] == second_lowest_grade]

# Sort the names alphabetically
second_lowest_students.sort()

# Print each student's name on a new line
for student in second_lowest_students:
    print(student)

Step:1 Take input from user name and grade

step:2 split the input into name and grade and stored them in a list as [name,grade]

step3: Exract the grade and added them in list and sort the list

step 4: Find the second lowest grade

step 5: Find all the name with second lowest grade and and added them into a list

step 6: print the list

In [ ]:
n = int(input())

students =[]

for _ in range(n):
    name =input().strip()
    grade =float(input().strip())
    students.append([name,grade])

In [1]:
students = [['name', 80], ['b', 20]]  # Correct initialization with proper syntax

grade = []  # Initialize an empty list to store grades

# Iterate through the `students` list and append each grade to `grade`
for student in students:
    grade.append(student[1])  # Use `student[1]` to get the grade from the nested list
    
print(grade)  # Should print the list of grades

[80, 20]

In [2]:
grade = [student[1] for student in students]
grade

[80, 20]

In [3]:
sorted_grade =sorted(grade)

In [4]:
sorted_grade

[20, 80]

In [9]:
sec_lowest_grade = sorted_grade[1]
std=[]

for i in students:
    if i[1]==sec_lowest_grade:
        std.append(i[0])

In [10]:
std

['name']

In [11]:
std =[ i[0] for i in students if i[1]==sec_lowest_grade]
std

['name']