## WHILE LOOP

We use a while loop when the number of iteration is not known beforehand. For example, if you want to ask a user to guess your

luck number between 1 and 10, we don’t know how many attempts the user may need to guess the correct number. In such cases, use

a while loop.

=>The while statement checks the condition. The condition must return a boolean value. Either True or False.

=>Next, If the condition evaluates to true, the while statement executes the statements present inside its block.

=>The while statement continues checking the condition in each iteration and keeps executing its block until the condition 

becomes false.


### run loop till count is less than 5

while count < 5:

    print(count)
    
    count = count + 1
    
 Note: The loop with continuing forever if you forgot to increment counter in the above example

## Exercise 1: Print First 10 natural numbers using while loop

In [3]:
i=1
while i<11:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

## Exercise 2: Print the following pattern

Write a program to print the following number pattern using a loop.

1 

1 2 

1 2 3 

1 2 3 4 

1 2 3 4 5

In [6]:
print("Number Pattern ")

# Decide the row count. (above pattern contains 5 rows)
row = 5
# start: 1
# stop: row+1 (range never include stop number in result)
# step: 1
# run loop 5 times
for i in range(1, row + 1, 1):
    # Run inner loop i+1 times
    for j in range(1, i + 1):
        print(j, end=' ')
    # empty line after each row
    print("")

Number Pattern
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

## Exercise 3: Calculate the sum of all numbers from 1 to a given number

Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number


For example, if the user entered 10 the output should be 55 (1+2+3+4+5+6+7+8+9+10)


Expected Output:

Enter number 10

Sum is:  55

In [9]:
## Save the input number in a variale
## run a loop with range and add
n =int(input("Enter your number:"))
sum_=0
for i in range(1,n+1,1):
    sum_ +=i
print (sum_)

Enter your number:5
15

## Exercise 4: Write a program to print multiplication table of a given number

For example, num = 2 so the output should be

2

4

6

8

10

12

14

16

18

20

In [13]:
n=2
for i in range(1,11,1):
    product =n*i
    print(product)

2
4
6
8
10
12
14
16
18
20

## Exercise 5: Display numbers from a list using loop

Write a program to display only those numbers from a list that satisfy the following conditions

The number must be divisible by five
If the number is greater than 150, then skip it and move to the next number
If the number is greater than 500, then stop the loop
Given:

numbers = [12, 75, 150, 180, 145, 525, 50]
Expected output:

75
150
145

## Exercise 6: Count the total number of digits in a number

Write a program to count the total number of digits in a number using a while loop.

For example, the number is 75869, so the output should be 5.

In [14]:
num=75869
count=0
while num!=0:
    # floor division
    # to reduce the last digit from number
    num=num//10
    # increment counter by 1
    count+=1
print(count)

5

## Exercise 7: Print the following pattern

Write a program to use for loop to print the following reverse number pattern

5 4 3 2 1 

4 3 2 1 

3 2 1 

2 1 

1

In [28]:
for i in range(0,5,1):
    for j in range(5-i,0,-1):
        print(j,end=' ')
    print("")

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

## Exercise 8: Print list in reverse order using a loop

Given:
    
list1 = [10, 20, 30, 40, 50]

Expected output:

50

40

30

20

10

In [29]:
# Using a reverse function and for loop
list1 = [10, 20, 30, 40, 50]

rev_list = reversed(list1)

for i in rev_list:
    print(i)

50
40
30
20
10

In [31]:
# using for loop and len() function

list1 = [10, 20, 30, 40, 50]
l = len(list1)-1
for i in range(l,-1,-1):
    print(list1[i])

50
40
30
20
10

## Exercise 9: Display numbers from -10 to -1 using for loop

Expected output:

-10

-9

-8

-7

-6

-5

-4

-3

-2

-1

In [36]:
for i in range(-10,0,1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

## Exercise 10: Use else block to display a message “Done” after successful execution of for loop

For example, the following loop will execute without any error.

Given:

for i in range(5):
    print(i)
Expected output:

0
1
2
3
4
Done!

In [37]:
for i in range(5):
    print(i)
else:
    print('Done')

0
1
2
3
4
Done

## Exercise 11: Write a program to display all prime numbers within a range

Note: A Prime Number is a number that cannot be made by multiplying other whole numbers. A prime number is a natural number greater than 1 that is not a product of two smaller natural numbers

Examples:

6 is not a prime mumber because it can be made by 2×3 = 6
37 is a prime number because no other whole numbers multiply together to make it.
Given:

# range
start = 25
end = 50
Expected output:

Prime numbers between 25 and 50 are:
29
31
37
41
43
47

In [41]:
# all prime numbers are greater than 1
# if number is less than or equal to 1, it is not prime
# If number is divisible by 0 it's not a prime number

start = 25
end = 50
print("Prime numbers between", start, "and", end, "are:")

for num in range(start, end + 1):
    # all prime numbers are greater than 1
    # if number is less than or equal to 1, it is not prime
    if num > 1:
        for i in range(2, num):
            # check for factors
            if (num % i) == 0:
                # not a prime number so break inner loop and
                # look for next number
                break
        else:
            print(num)

Prime numbers between 25 and 50 are:
29
31
37
41
43
47

## Exercise 12: Display Fibonacci series up to 10 terms

The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two

numbers are 0 and 1.

For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34.

Expected output:

Fibonacci sequence:
    
0  1  1  2  3  5  8  13  21  34

In [5]:
# first two numbers
num1, num2 = 0, 1

print("Fibonacci sequence:")
# run loop 10 times
for i in range(10):
    # print next number of a series
    print(num1, end="  ")
    # add last two numbers to get next number
    res = num1 + num2

    # update values
    num1 = num2
    num2 = res

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

## Exercise 13: Find the factorial of a given number

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: !) means to multiply all whole numbers from the chosen number down to 1

For example: calculate the factorial of 5

5! = 5 × 4 × 3 × 2 × 1 = 120

Expected output:

120

In [9]:
num =5
Factorial =1
if num<1:
    print('Factorial does not exists for negative number')
elif num==0:
    print('Factorial for 0 i 1')
else:
    for i in range(1,num+1):
        Factorial=Factorial*i
    print(Factorial)

120

## Exercise 14: Reverse a given integer number

Given:

76542

Expected output:

24567

In [10]:
## Using for loop
num = 76542
reverse_number = 0

print("Given Number ", num)

# Convert the number to a string and iterate over its characters in reverse order
for digit in str(num)[::-1]:
    reverse_number = (reverse_number * 10) + int(digit)

print("Reverse Number ", reverse_number)

Given Number  76542
Reverse Number  24567

In [11]:
## Using while loop
num = 76542
reverse_number = 0
print("Given Number ", num)
while num > 0:
    reminder = num % 10
    reverse_number = (reverse_number * 10) + reminder
    num = num // 10
print("Revere Number ", reverse_number)

Given Number  76542
Revere Number  24567

## Exercise 15: Use a loop to display elements from a given list present at odd index positions

Given:

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

Note: list index always starts at 0

Expected output:

20 40 60 80 100

In [9]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
# stat from index 1 with step 2( means 1, 3, 5, an so on)
for i in my_list[1::2]:
    print(i, end=" ")

20 40 60 80 100

In [7]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
# stat from index 1 with step 2( means 1, 3, 5, an so on)
for i in range(1,len(my_list)+1,2):
    print(my_list[i], end=" ")

20 40 60 80 100

## Exercise 16: Calculate the cube of all numbers from 1 to a given number

Write a program to rint the cube of all numbers from 1 to a given number

Given:

input_number = 6

Expected output:

Current Number is : 1  and the cube is 1
    
Current Number is : 2  and the cube is 8
    
Current Number is : 3  and the cube is 27
    
Current Number is : 4  and the cube is 64
    
Current Number is : 5  and the cube is 125
    
Current Number is : 6  and the cube is 216

## Exercise 17: Find the sum of the series upto n terms

Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 +
22222 = 24690

Given:

# number of terms

n = 5

Expected output:

24690

In [11]:
n=5
# first number of sequence 
start=2
sum_seq=0

for i in range(0,n):
    print(start,end='+')
    sum_seq =sum_seq+start
    ## calculate the next number
    start = start*10+2

2+22+222+2222+22222+

## Exercise 18: Print the following pattern

Write a program to print the following start pattern using the for loop

* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*

In [13]:
rows =5
for i in range(0,rows):
    for j in range(0,i+1):
        print("*",end=' ')
    print("\r")
    
for i in range(rows,0,-1):
    for j in range(0,i-1,):
        print("*",end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*