## Exercise 1: Reverse the tuple

Given:
    
tuple1 = (10, 20, 30, 40, 50)

Expected output:

(50, 40, 30, 20, 10)

In [2]:
## Use tuple slicing to reverse the given tuple. Note: the last element starts at -1.
tuple1 = (10, 20, 30, 40, 50)
tuple1 =tuple1[::-1]
tuple1

(50, 40, 30, 20, 10)

## Exercise 2: Access value 20 from the tuple

The given tuple is a nested tuple. write a Python program to print the value 20.

Given:

tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

Expected output:

20

In [4]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple1[1][1]

20

In [3]:
## Exercise 3: Create a tuple with single item 50
tuple1 = (50,)
print(tuple1)

(50,)

## Exercise 4: Unpack the tuple into 4 variables

Write a program to unpack the following tuple into four variables and display each variable.

Given:

tuple1 = (10, 20, 30, 40)

Expected output:

tuple1 = (10, 20, 30, 40)

# Your code
print(a) # should print 10

print(b) # should print 20

print(c) # should print 30

print(d) # should print 40

In [6]:
tuple1 = (10, 20, 30, 40)
##a =tuple1[0]
#b =tuple1[1]
#c =tuple1[2]
#d =tuple1[3]*/

## Another way
a,b,c,d= tuple1
print(a)
print(b)
print(c)
print(d)

10
20
30
40

## Exercise 5: Swap two tuples in Python

Given:

tuple1 = (11, 22)

tuple2 = (99, 88)

Expected output:

tuple1: (99, 88)
    
tuple2: (11, 22)

In [8]:
tuple1 = (11, 22)
tuple2 = (99, 88)

tuple1,tuple2 =tuple2,tuple1

print(tuple1)
print(tuple2)

(99, 88)
(11, 22)

## Exercise 6: Copy specific elements from one tuple to a new tuple

Write a program to copy elements 44 and 55 from the following tuple into a new tuple.

Given:

tuple1 = (11, 22, 33, 44, 55, 66)

Expected output:

tuple2: (44, 55)

In [9]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2=(tuple1[3],tuple1[4])
tuple2

(44, 55)

## Exercise 7: Modify the tuple

Given is a nested tuple. Write a program to modify the first item (22) of a list inside a following tuple to 222

Given:

tuple1 = (11, [22, 33], 44, 55)

Expected output:

tuple1: (11, [222, 33], 44, 55)

In [11]:
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0]=222
tuple1

(11, [222, 33], 44, 55)

## Exercise 8: Sort a tuple of tuples by 2nd item

Given:

tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))

Expected output:

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

sorted(): This is a built-in Python function used to sort iterables like lists, tuples, etc.

tuple1: This is the tuple of tuples that we want to sort.

key=lambda x: x[1]: This is a key function that tells Python how to sort the tuples within tuple1. Here, lambda x: x[1] is a lambda function that takes a tuple x as input and returns its second element (x[1]). This means we want to sort the tuples based on their second elements.

In [14]:
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))
tuple1= tuple(sorted(tuple1,key = lambda x: x[1]))
tuple1

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

## Exercise 9: Counts the number of occurrences of item 50 from a tuple

tuple1 = (50, 10, 60, 70, 50)

Expected output:

2

In [15]:
tuple1 = (50, 10, 60, 70, 50)
tuple1.count(50)

2

## Exercise 10: Check if all items in the tuple are the same

tuple1 = (45, 45, 45, 45)

Expected output:

True

You can achieve this by converting the tuple to a set and then checking if the length of the set is 1, meaning that all elements in the tuple are the same. Here's the code:

In [16]:
tuple1 = (45, 45, 45, 45)

result = len(set(tuple1)) == 1

print(result)

True