## Exercise 1: Reverse a list in Python

Given:
    
list1 = [100, 200, 300, 400, 500]

Expected output:
    
[500, 400, 300, 200, 100]

In [1]:
## using inbuilt reverse() function
list1 = [100, 200, 300, 400, 500]

list1.reverse()

list1

[500, 400, 300, 200, 100]

In [5]:
## use negative slicing
list1 = [100, 200, 300, 400, 500]
list2 = list1[-1::-1]
list2

[500, 400, 300, 200, 100]

## Exercise 2: Concatenate two lists index-wise

Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st

index item, and so on till the last element. any leftover items will get added at the end of the new list.

Given:

list1 = ["M", "na", "i", "Ke"]

list2 = ["y", "me", "s", "lly"]

Expected output:

['My', 'name', 'is', 'Kelly']

In [12]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

list3 =[i+j for i,j in zip(list1,list2)]
list3

['My', 'name', 'is', 'Kelly']

## Exercise 3: Turn every item of a list into its square

Given a list of numbers. write a program to turn every item of a list into its square.

Given:
    
numbers = [1, 2, 3, 4, 5, 6, 7]

Expected output:
    
[1, 4, 9, 16, 25, 36, 49]

In [14]:
numbers = [1, 2, 3, 4, 5, 6, 7]
square =[i*i for i in numbers ]
square

[1, 4, 9, 16, 25, 36, 49]

## Exercise 4: Concatenate two lists in the following order

list1 = ["Hello ", "take "]

list2 = ["Dear", "Sir"]

Expected output:

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [16]:
list1 = ["Hello ", "take "]

list2 = ["Dear", "Sir"]

list3 =[i+j for i in list1 for j in  list2]

list3

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

## Exercise 5: Iterate both lists simultaneously

Given a two Python list. Write a program to iterate both lists simultaneously and display items from list1 in original order and items from list2 in reverse order.

Given

list1 = [10, 20, 30, 40]

list2 = [100, 200, 300, 400]

Expected output:

10 400

20 300

30 200

40 100

In [19]:
list1 = [10, 20, 30, 40]

list2 = [100, 200, 300, 400]
for i,j in zip(list1, list2[::-1]):
    print(i,j)

10 400
20 300
30 200
40 100

## Exercise 6: Remove empty strings from the list of strings

list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

Expected output:
    
["Mike", "Emma", "Kelly", "Brad"]

In [20]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
res = list(filter(None,list1))
res

['Mike', 'Emma', 'Kelly', 'Brad']

## Exercise 7: Add new item to list after a specified item

Write a program to add item 7000 after 6000 in the following Python List

Given:

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

Expected output:

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [25]:
# understand indexing
# list1[0] = 10
# list1[1] = 20
# list1[2] = [300, 400, [5000, 6000], 500]
# list1[2][2] = [5000, 6000]
# list1[2][2][1] = 6000

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

## Exercise 8: Extend nested list by adding the sublist

You have given a nested list. Write a program to extend it by adding the sublist ["h", "i", "j"] in such a way that it will look

like the following list.

Given List:

list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

# sub list to add

sub_list = ["h", "i", "j"]

Expected Output:

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [28]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
list1[2][1][2].extend( ["h", "i", "j"])
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

## Exercise 9: Replace listâ€™s item with new value if found

You have given a Python list. Write a program to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of an item.

Given:

list1 = [5, 10, 15, 20, 25, 50, 20]

Expected output:

[5, 10, 15, 200, 25, 50, 20]

In [30]:
list1 = [5, 10, 15, 20, 25, 50, 20]
## get the first occurance
inx = list1.index(20)
## update the index

list1[inx] =200

list1

[5, 10, 15, 200, 25, 50, 20]

## Exercise 10: Remove all occurrences of a specific item from a list.

Given a Python list, write a program to remove all occurrences of item 20.

Given:

list1 = [5, 20, 15, 20, 25, 50, 20]

Expected output:

[5, 15, 25, 50]

In [44]:
def remove_value(sample_list, val):
    new_list=[]
    for i in sample_list:
        if i!=val:
            new_list.append(i)
    return new_list

In [45]:
remove_value([5, 20, 15, 20, 25, 50, 20],20)

[5, 15, 25, 50]

In [46]:
## using list comprehension
def remove_value(sample_list, val):
    return [i for i in sample_list if i!=val]

In [47]:
remove_value([5, 20, 15, 20, 25, 50, 20],20)

[5, 15, 25, 50]

In [48]:
##Solution 2: while loop (slow solution)

list1 = [5, 20, 15, 20, 25, 50, 20]

while 20 in list1:
    list1.remove(20)
print(list1)

[5, 15, 25, 50]