## Exercise 1: Convert two lists into a dictionary

Below are the two lists. Write a Python program to convert them into a dictionary in a way that item from list1 is the key and item from list2 is the value

keys = ['Ten', 'Twenty', 'Thirty']

values = [10, 20, 30]

Expected output:

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

Use the zip() function. This function takes two or more iterables (like list, dict, string), aggregates them in a tuple, and returns it.

Or, Iterate the list using a for loop and range() function. In each iteration, add a new key-value pair to a dict using the update() method

In [1]:
## using zip function
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

result = dict(zip(keys,values))
result

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [3]:
## Solution 2: Using a loop and update() method of a dictionary
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
res_dict =dict()
for i in range(len(keys)):
    res_dict.update({keys[i]:values[i]})
    
res_dict

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

## Exercise 2: Merge two Python dictionaries into one

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

Expected output:

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

{**dict1, **dict2}: This is dictionary unpacking using the ** operator. It merges the contents of dict1 and dict2 into a new 
dictionary dict3. In the case of key conflicts (like 'Thirty' in this example), the value from the second dictionary (dict2) overrides the value from the first dictionary (dict1).

In [4]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict3 ={** dict1,**dict2}
dict3

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [7]:
## Another way
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict3 =dict1.copy()
dict3.update(dict2)
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

## Exercise 3: Print the value of key ‘history’ from the below dict

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

Expected output:

80

In [8]:
# understand how to located the nested key
# sampleDict['class'] = {'student': {'name': 'Mike', 'marks': {'physics': 70, 'history': 80}}}
# sampleDict['class']['student'] = {'name': 'Mike', 'marks': {'physics': 70, 'history': 80}}
# sampleDict['class']['student']['marks'] = {'physics': 70, 'history': 80}

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}


sampleDict['class']['student']['marks']['history']

80

## Exercise 4: Initialize dictionary with default values

In Python, we can initialize the keys with the same values.

Given:

employees = ['Kelly', 'Emma']

defaults = {"designation": 'Developer', "salary": 8000}

Expected output:
    
{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [9]:
## The fromkeys() method returns a dictionary with the specified keys and the specified value

employees = ['Kelly', 'Emma']

defaults = {"designation": 'Developer', "salary": 8000}

res = dict.fromkeys(employees,defaults)
res

{'Kelly': {'designation': 'Developer', 'salary': 8000},
 'Emma': {'designation': 'Developer', 'salary': 8000}}

## Exercise 5: Create a dictionary by extracting the keys from a given dictionary

Write a Python program to create a new dictionary by extracting the mentioned keys from the below dictionary.

Given dictionary:

sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

#### Keys to extract

keys = ["name", "salary"]

Expected output:

{'name': 'Kelly', 'salary': 8000}

In [10]:
##{k: sampleDict[k] for k in keys}: This is a dictionary comprehension. It iterates over each key in the keys list. For each key k, 
##it creates a new key-value pair in newDict where the key is k and the value is the corresponding value from sampleDict.

sample_dict = { "name": "Kelly", "age": 25, "salary": 8000, "city": "New york"}
keys = ["name", "salary"]

new_keys={k: sample_dict[k] for k in keys}

new_keys

{'name': 'Kelly', 'salary': 8000}

In [11]:
## Solution 2: Using the update() method and loop

sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# keys to extract
keys = ["name", "salary"]

# new dict
res = dict()

for k in keys:
    # add current key with its va;ue from sample_dict
    res.update({k: sample_dict[k]})
print(res)

{'name': 'Kelly', 'salary': 8000}

## Exercise 6: Delete a list of keys from a dictionary

Given:

sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

# Keys to remove

keys = ["name", "salary"]

Expected output:

{'city': 'New york', 'age': 25}

In [12]:
## using pop function
sample_dict = { "name": "Kelly", "age": 25, "salary": 8000, "city": "New york" }

keys = ["name", "salary"]

for k in keys:
    sample_dict.pop(k)
    
sample_dict

{'age': 25, 'city': 'New york'}

In [13]:
## Dictionary comprehension

sample_dict = { "name": "Kelly", "age": 25, "salary": 8000, "city": "New york" }

keys = ["name", "salary"]

sample_dict ={k: sample_dict[k] for k in sample_dict.keys() -keys}
sample_dict

{'age': 25, 'city': 'New york'}

## Exercise 7: Check if a value exists in a dictionary

We know how to check if the key exists in a dictionary. Sometimes it is required to check if the given value is present.

Write a Python program to check if value 200 exists in the following dictionary.

Given:

sample_dict = {'a': 100, 'b': 200, 'c': 300}

Expected output:

200 present in a dict

In [1]:
#Get all values of a dict in a list using the values() method.
#Next, use the if condition to check if 200 is present in the given list
sample_dict = {'a': 100, 'b': 200, 'c': 300}
if 200 in sample_dict.values():
    print("200 present in a dict")

200 present in a dict

## Exercise 8: Rename key of a dictionary

Write a program to rename a key city to a location in the following dictionary.

Given:

sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

Expected output:

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [2]:
#Remove the city from a given dictionary
#Add a new key (location) into a dictionary with the same value
sample_dict = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york" }

sample_dict['location']=sample_dict.pop('city')
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

## Exercise 9: Get the key of a minimum value from the following dictionary

sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

Expected output:

Math

In [3]:
# Use the built-in function min()
sample_dict = { 'Physics': 82, 'Math': 65, 'history': 75 }
print(min(sample_dict, key=sample_dict.get))

Math

## Exercise 10: Change value of a key in a nested dictionary

Write a Python program to change Brad’s salary to 8500 in the following dictionary.

Given:

sample_dict = {
    
    'emp1': {'name': 'Jhon', 'salary': 7500},
    
    'emp2': {'name': 'Emma', 'salary': 8000},
    
    'emp3': {'name': 'Brad', 'salary': 500}
}
Expected output:

{
   'emp1': {'name': 'Jhon', 'salary': 7500},
    
   'emp2': {'name': 'Emma', 'salary': 8000},
    
   'emp3': {'name': 'Brad', 'salary': 8500}
}

In [5]:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 6500}
}

sample_dict['emp3']['salary'] = 8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}